@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background: #ecf0f3;

	/*color: white;*/
}

/*nav-bar*/
.top-bar-text {
	margin-left: 15%;
	color: white;
	font-weight: 600;
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #9a3ad9;
	height: 3.5rem;
	font-size: 1.5rem;
}

/*first time display*/
.c-query {
	color: #1d3557;
	display: flex;
	flex-direction: column;
	/*align-items: flex-start;*/
	justify-content: center;
	border-width: 1px;
	background: white;
	width: auto;
	border-style: solid;
	border-radius: 9px;
	border-color: #e7e6e1;
	padding-left: 1rem;
	line-height: 1;
	max-width: 80%;
	margin: auto;
	margin-top: 2rem;
	line-height: 1;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
	background: #ecf0f3;
}

/*heading and subheadings*/
.heading {
	font-size: 2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 900;
}

.sub-heading {
	font-size: 1.5rem;
}

/*userinput styling*/

#userInput {
	font-size: 1.3rem;
	border-radius: 4px;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 80%;
	height: 2.5rem;
	color: #1d3557;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e6e1;
	padding: 1rem;
	background: #ecf0f3;
	padding: 10px;
	padding-left: 20px;
	height: 50px;
	font-size: 14px;
	border-radius: 50px;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

/*footer styling*/

.foot-text {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #d8d8d8;
	margin-top: 5rem;
	font-size: 1rem;
	height: 4rem;
}

/* Styling of api outputs */

/* list styling */
li {
	list-style: none;
}

/* complete output div styling */
.c-profile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: auto;
	margin-top: 5rem;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
	background: #ecf0f3;
	border-radius: 1rem;
}

/* styling dp */
img {
	width: 14rem;
	height: auto;
	border-radius: 1rem;
	margin: 2rem;
}

/* dp and button */
.img-bt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	grid-row: 1/3;
	grid-column: 1/2;
}

/* stats of the user */
.p-info {
	grid-column: 2/4;
	grid-row: 1/2;
	margin: 2rem;
}

.btn1 {
	background: #a0e7e5;
}

.btn2 {
	background: #b4f8c8;
}

.btn3 {
	background: #fbe7c6;
}
.btn4 {
	background: #ffaebc;
}
/* info about user */
.g-info {
	grid-column: 2/4;
	grid-row: 2/3;
	margin: 0.8rem;
}

/* p-info stats of the user button styling */
.btns {
	border-radius: 3px;
	padding: 0.5rem;
	margin: 1rem;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.list-items {
	display: block;
	font-weight: bold;
	padding: 0.8rem;
	margin: 1rem;
	border-radius: 50px;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

a {
	text-decoration: none;
	background: #845ec2;
	font-size: 1.4rem;
	border-radius: 5px;
	padding: 0.5rem;
	color: white;
}
