@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	/*color: white;*/
}

/*nav-bar*/
.top-bar-text {
	margin-left: 15%;
	color: white;
	font-weight: 600;
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #9a3ad9;
	height: 3.5rem;
	font-size: 1.5rem;
}

/*first time display*/
.c-query {
	color: #1d3557;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-width: 1px;
	background: white;
	width: auto;
	border-style: solid;
	border-radius: 9px;
	border-color: #e7e6e1;
	padding-left: 1rem;
	line-height: 1;
	max-width: 70%;
	margin: auto;
	margin-top: 2rem;
	line-height: 1;
}

/*heading and subheadings*/
.heading {
	font-size: 2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 900;
}

.sub-heading {
	font-size: 1.5rem;
}

/*userinput styling*/

#userInput {
	font-size: 1.3rem;
	border-radius: 4px;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 220%;
	height: 2.5rem;
	color: #1d3557;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	border-color: #e7e6e1;
	padding: 1rem;
}

/*footer styling*/

.foot-text {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f7f7f7;
	margin-top: 5rem;
	font-size: 1rem;
	height: 4rem;
}
